
/**{
    margin: 0;
    padding: 0;
}*/
body{
    color: #FFFF00;
    background: #C0C0C0;

}
h1,h3,h5{
    text-align: center;
    margin:0;
    padding: 20px;
}

h2,h4,h6{
    margin: 0;
    padding: 10px;
}
.contenedor_principal{
    /*margin-top: 0px;*/
    margin-bottom: -10px;

}
.externo{
    text-align: center;
    background:#808080;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header{
    background:#053c5a;
   
}

.sidebar1{
    background:#bdb7bd;
}

.sidebar2{
 background:#CD5C5C;
}


.contenido{
 background:#00FF00;
}

.footer{
    /*color: #FFFF00;
    background: #C0C0C0;
    margin-top: 20px;
    margin-bottom: -10px;*/

   /* position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;*/

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /*background-color: red;*/
  background: #C0C0C0;
  color: white;
  text-align: center;
}

.colorNav{
    background-color: #d6c712;
}
.letrasNegras{
    color:black;
}


.letraBlanca{
    color:white;
}
.letraAzul{
    color:blue;

}

.centrado{
    text-align: center!important;
}
.margenesSeccion{
    border-radius: 10%;

}

/*.navSigue{

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: red;
  /*background: #C0C0C0;*/
/*  color: white;
  text-align: center;*/

/*}*/


/*a{
    color: black;

}*/